<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Simple Dict</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <link rel="bookmark" href="../static/favicon.ico"/>

  </head>
  <body>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active">Simple Dict</a>
  </li>
</ul>
    <form method="post">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">Word</span>
          <input name=word type="text" class="form-control" placeholder="word" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">Trans</span>
          <input name=trans type="text" class="form-control" placeholder="trans" aria-describedby="basic-addon1">
        </div>
        <br>
        <input type=submit class="btn btn-primary btn-lg btn-block" value=ADD>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>单词</th>
                <th>翻译</th>
                <th>统计</th>
            </tr>
        </thead>
        <tbody>
            {% for item in words %}
                <tr>
                    <td>{{ item.word }}</td>
                    <td>{{ item.trans }}</td>
                    <td>{{ item.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
